$ess: '#ccc';
$icon-color: #23beae;
$global-bgcolor: #c00;

/*
 2021-1-29 :
一,黑色主题颜色（skin-hjb）：
1,背景颜色：#191B1F
2,内容背景颜色：#24252D
3,字体颜色：#8f8f8f
4,footer背景颜色：#191B1F
如下：
*/
$skin-black-gold-color: #E4C19B;
$skin-black-bg: #191B1F; //1,背景颜色
$skin-black-con-bg: #24252D; //2,内容背景颜色
$skin-black-text-color: #8f8f8f; //3,字体颜色
$skin-black-footer-bg: #191B1F; //4,footer背景颜色
$skin-black-text-sub-color: #9a9aa7; //5,字体颜色2
$skin-black-border-color: #2F2F36; //6,li-item的下边框的颜色
$skin-black-placeholder-color: #51525e; //7,input框的placeholder的字体颜色
$skin-black-label-color: #8f8f8f; //8,表单的label字体颜色
/*
 2021-1-29 :
二,灰色主题颜色（skin-gray）：
1,背景颜色：#3C3B53
2,内容背景颜色：#4C4A64
3,字体颜色：#9292a5
4,footer背景颜色：#3A3850
如下：
*/
$skin-gray-gold-color: #FCD37D;
$skin-gray-bg: #3C3B53; //1,背景颜色
$skin-gray-con-bg: #4C4A64; //2,内容背景颜色
$skin-gray-text-color: #9292a5; //3,字体颜色
$skin-gray-footer-bg: #3A3850; //4,footer背景颜色
$skin-gray-text-sub-color: #9a9aa7; //5,字体颜色2
$skin-gray-border-color: #59576E; //6,li-item的下边框的颜色
$skin-gray-placeholder-color: #6a697f; //7,input框的placeholder的字体颜色
$skin-gray-label-color: #9a9aa7; //8,表单的label字体颜色

//px转rem函数，运用如：height:px2rem(50px);得出1rem;
@function px2rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}

/* 实现移动端 1px , 根据不同 dpr 去缩放 ,使用方法：@include border-1px($grey);*/
@mixin border-1px($color) {
  position: relative;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      transform: scaleY(0.7);
      content: '';
      //width: 100%;
      border-bottom: 1px solid $color;
      height: 1px;
      position: absolute;
      bottom: 0;
      //top:0;这个会影响到其他地方
      left: px2rem(17px);
      right: px2rem(17px);
      width: auto;
    }

  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      transform: scaleY(0.5);
      content: '';
      //width: 100%;
      border-bottom: 1px solid $color;
      height: 1px;
      position: absolute;
      bottom: 0;
      //top:0;
      left: px2rem(17px);
      right: px2rem(17px);
      width: auto;
    }
  }
}

@mixin bg-image($url) {
  //使用方法:@include bg-image('../assets/img/index/gameintry-2-box');
  background-image: url($url + '@2x.png');
  //background-size: 100%;
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + '@3x.png');
    //background-size: 100%;
    background-repeat: no-repeat;
  }
}

@mixin ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@function px2rem ($px) {
  @return $px;
}
