.van-toast {
  width: auto;
  min-width: 100px;
  background: #000;
  &.warning-toast {
    .van-icon {
      color: #F0A339;
    }
  }
  &.van-toast--fail, &.fail-toast-box {
    color: red;
  }
  &.van-toast--success {
    color: #0eb61b;
  }
  &.toast-color-index { // 首页
    color: #EFCEA6;
    background: #0D0E10;
  }
}

.mod-refresh-icon {
  //刷新按钮效果
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &.active {
    animation: rotate 1s infinite;
  }
}

//复制按钮
.copy-btn {
  min-width: px2rem(50px);
  min-height: px2rem(25px);
  padding: px2rem(0 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: px2rem(12px);
  border-radius: 25px;
  border: solid 1px #93806a;
  background: linear-gradient(to bottom, #443f3a, #544a42 99%);
  color: #c4aa88;
}

.van-action-sheet{
  height:100% !important;
  max-height: 100% !important;
  border-radius: 0 !important;
}

//验证码图片的大小
.mod-vode-img {
  width: px2rem(80px);
  height: px2rem(30px);
}

//列表公共样式
.mod-list-item {
  min-height: px2rem(70px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 px2rem(15px);
  font-size: px2rem(13px);
  color: #fff;
  .top, .bottom {
    display: flex;
    justify-content: space-between;
    line-height: px2rem(25px);
  }
  .top {
    h1 {
      font-size: px2rem(15px);
      display: flex;
      .iconfont{
        font-size:24px;
        color:#DCB793;
      }
    }
    span {
      font-size: px2rem(14px);
      color: #fff;
      &.red {
        color: red;
      }
      &.green {
        color: #59ae59;
      }
    }
  }
  .bottom {
    color: #a1a1a1;
  }
  &:not(:last-child) {
    @include border-1px(#44435b);
  }

}

//列表详情公共样式
.mod-ul-detail {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  li {
    min-height: px2rem(50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px2rem(15px);
    font-size: px2rem(14px);
    line-height: px2rem(20px);
    label {
      width: px2rem(120px);
      color: #8f8f8f;
    }
    span {
      flex: 2;
      color: #fff;
      &.red {
        color: red;
      }
      &.green {
        color: #59ae59;
      }
    }
    @include border-1px(#59576E);
  }
}

.lottery-index {
  .time {
    //投注里面的时间倒计时
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .count-down {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0.7rem;
      color: #fff;
      span {
        background-color: #191b1f;
        border: .02rem solid #2f2f36;
        margin: 0 .04rem 0 .06rem;
        border-radius: .08rem;
        padding: .08rem 0.05rem;
        max-height: .5rem;
        font-size: .28rem;
        color: #fff;
      }
      i {
        color: #fff;
      }
    }
    .opening {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0.8rem;
      .lang-china {
        display: flex;
        align-items: center;
        span {
          background-color: #191b1f;
          border: .02rem solid #2f2f36;
          margin: 0 .04rem 0 .06rem;
          border-radius: .08rem;
          padding: .08rem 0.05rem;
          max-height: .5rem;
          font-size: .28rem;
          color: red;
        }
        i {
          color: #fff;
        }
      }
    }
  }
}


