.skin-black{
  .van-dialog{
    color: #fff;
    background: $skin-black-con-bg;
    width: 6.4rem ;
    border-radius: .32rem ;
    .van-button{
      border-radius: 0;
    }
    .van-dialog__footer--buttons {
      .van-dialog__cancel.van-button--default {
        background-color: #322b4d;
        background-image: linear-gradient(to bottom, #645592, #322b4d);
        color: #fff ;
      }
      .van-dialog__confirm.van-button--default {
        color: #533510;
        background-color: #ffd57d;
        background-image: linear-gradient(to bottom, #ffedc6, #ffd57d);
      }
      span {
        font-size: .32rem ;
        font-weight: 600 ;
      }
    }
  }
}
